.checkout {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkoutTitle {
  color: #221E48;
}

.checkoutSubtitle {
  margin-bottom: 25px;
  color: #333;
}

.form {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  position: relative;
  border: 1px solid #9B98C3;
  border-radius: 25px;
  justify-content: center;
}
.form .label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: -moz-fit-content;
  height: fit-content;
}
.form .label:has(input:focus) .title {
  top: 0;
  left: 0;
  color: #221E48;
}
.form .label .title {
  padding: 0 10px;
  transition: all 300ms;
  font-size: 12px;
  color: #9B98C3;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
  top: 6px;
  position: relative;
  left: 8px;
}
.form .input-field {
  width: auto;
  height: 50px;
  text-indent: 15px;
  border-radius: 15px;
  outline: none;
  background-color: transparent;
  border: 1px solid #9B98C3;
  transition: all 0.3s;
  caret-color: #221E48;
  color: #333;
}

.form .input-field:hover {
  border-color: #221E48;
}

.form .input-field:focus {
  border-color: #221E48;
}
.form .split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}
.form .split label {
  width: 130px;
}
.form .checkoutBtn {
  margin-top: 20px;
  padding: 20px 0;
  border-radius: 25px;
  font-weight: 700;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
  fill: #fff;
  color: #fff;
  border: 2px solid transparent;
  background: #221E48;
  transition: all 200ms;
}
.form .checkoutBtn:active {
  scale: 0.95;
}

.form .checkoutBtn:hover {
  color: #221E48;
  border: 2px solid #221E48;
  background: transparent;
}

@media screen and (max-width: 768px) {
  .form {
    width: 280px;
    padding: 20px;
  }
  .form .label .title {
    font-size: 11px;
  }
}

@media screen and (max-width: 600px) {
  .form {
    width: 90%;
    max-width: 350px;
  }
  .form .split {
    flex-direction: column;
  }
  .form .split label {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .form .input-field {
    height: 45px;
  }
  .form .checkoutBtn {
    padding: 15px 0;
    font-size: 18px;
  }
}

